<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecycleViewLihatKelas"></activity>
        <activity android:name=".CRUDKrs" />
        <activity android:name=".CRUDMhsActivity" />
        <activity android:name=".CRUDMatkul" />
        <activity android:name=".RecycleViewMahasiswaActivity" />
        <activity android:name=".RecycleViewMatkulActivity" />
        <activity android:name=".RecycleViewKrsActivity" />
        <activity android:name=".CRUDDosenAdminActivity" />
        <activity android:name=".MenuDosenAdminActivity" />
        <activity android:name=".RecycleViewDosenActivity" />
        <activity android:name=".MenuDosenActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>